In [2]:
import yfinance as yf
from datetime import datetime

ticker = 'UNHH34.SA'
start_date = '2015-01-01'
end_date = datetime.today().strftime('%Y-%m-%d')
df = yf.download(ticker, start=start_date, end=end_date)
df = df.dropna()
df.head()

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open    Volume
Ticker      UNHH34.SA  UNHH34.SA  UNHH34.SA  UNHH34.SA UNHH34.SA
Date
2019-06-18  12.509826  12.509826  12.509826  12.509826    530600
2019-06-19  12.509826  12.509826  12.509826  12.509826         0
2019-06-21  12.703470  12.703470  12.703470  12.703470      2800
2019-06-24  12.703470  12.703470  12.703470  12.703470         0
2019-06-25  12.703470  12.703470  12.703470  12.703470         0